
<div id="footer">
        <ul class="footer-anchors">
            <p>Réalisé par Coralie B.</p>
            <li><a href="http://coralieblanco.fr/cv">CV</a></li>
            <li><a href="https://www.linkedin.com/in/coralieblanco/">Linkedin</a></li>
            <li><a href="http://github.com/coralie-blc/">Github</a></li>
        </ul>
</div>
